MAIN_POSTGRES_HOST=localhost
MAIN_POSTGRES_PORT=5432
MAIN_POSTGRES_USER=vykladna-main
MAIN_POSTGRES_PASSWORD=super-secret-password
MAIN_POSTGRES_DBNAME=vykladna-main
MAIN_POSTGRES_TIMEOUT=30s

MAIN_APP_LOG_LEVEL=info
MAIN_APP_LOG_FOLDER=./logs

MAIN_APP_HTTP_ADDR=0.0.0.0
MAIN_APP_HTTP_PORT=9090
MAIN_APP_HTTP_SHUTDOWN_TIMEOUT=5s
